{% extends 'base.html.twig' %}

{% block title %}Studentspage - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">

        <div class="Students"><h3><a href="{{ path('students') }}">Students</a></h3></div>
        Komandos narys:
        <input type="text" id="name">
        <span id="validation-result" data-path="{{ path('validatePerson', {'element': 'name'}) }}"></span>
        <br>
        Komandos pavadinimas:
        <input type="text" id="team">
        <span id="validation-result-team" data-path="{{ path('validateTeam', {'element': 'team'}) }}"></span>

    </div>




    <div class="title">NFQ Akademija</div>
    <div class="jumbotron">
        <a class="btn btn-secondary btn-lg" href="{{ path('fos_user_security_login') }}">Login</a>
        <a class="btn btn-secondary btn-lg" href="{{ path('fos_user_registration_register') }}">Register</a>
        <a class="btn btn-secondary btn-lg" href="{{ path('fos_user_profile_show') }}">User profile</a>
        <a class="btn btn-secondary btn-lg" href="{{ path('fos_user_profile_edit') }}">Edit user profile</a>
        <a class="btn btn-secondary btn-lg" href="{{ path('fos_user_change_password') }}">Change password</a>
    </div>
    <div class="jumbotron">
        <a class="btn btn-info btn-lg" href="{{ path('admin') }}">Our controller</a>
    </div>
{% endblock %}